html {
	font-size: 62.5%;
}
body {
	font-size: 1.6em;
}

input[type='text']{
    font-size: 2rem;
    text-align: left;

    min-width: 400px !important;
    max-width: 99.99%!important;
    transition: width 0s;
    padding: 10px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;

    outline: none;
    appearance: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


button#myBtn {
    font-size: 2rem;
    background:#298CF2;
    padding: 8px 15px 8px 15px;
	border: none;
    color: #fff;
    outline: none;
}

div#myOutput{
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-top: 20px;
}

div#myOutput > span.tab, span.space{
    visibility: hidden;
}

div#myOutput > span.highlight{
    font-weight: bold;
}
div#myOutput > span.underline{
    /* text-decoration: underline; */
    border-bottom: solid 2px #000000;
}